@use "./components/cards";
@use "./game/base";
@use "./game/code";
@use "./game/gaming";

.card__front img,
.card__back img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.current-player.player--blue {
  color: #4aa3ff;
}

.current-player.player--orange {
  color: #ff9d3b;
}

.current-player {
  font-weight: 700;
}



