@use "./components/cards";
@use "./game/base";
@use "./game/code";
@use "./game/gaming";

.card__front img,
.card__back img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.current-player.player--blue {
  color: #4aa3ff;
}

.current-player.player--orange {
  color: #ff9d3b;
}

.current-player {
  font-weight: 700;
}

/* ============================
   RESULT SCREEN (BASIS)
============================ */

.game__board {
  max-width: 900px; // oder 1000px, je nach Geschmack
  margin: 0 auto;
  gap: 8px;
}


.game-over {
  text-align: center;
  padding: 3rem 1rem;
}

.game-over h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.game-over p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.game-over button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/* Winner Layout */
.winner {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.4rem;
  margin: 0.5rem 0;
}

/* Winner Title */
.winner-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Buttons */
.game-over__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.game-over__buttons button {
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
