.game--code .game-over {
  background: #0d0d0d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;

  .winner-title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 10px;

    &.gameover {
      color: #00eaff;
    }
  }

  .final-score-text {
    font-size: 20px;
    color: #cccccc;
    opacity: 0.8;
    margin-bottom: 25px;
  }

  .winner {
    width: 220px;
    padding: 14px 0;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 12px;

    &.blue {
      background: #007bff;
    }

    &.orange {
      background: #ff8c00;
    }
  }

  .game-over__buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;

    button {
      padding: 12px 22px;
      font-size: 18px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      background: #1f1f1f;
      color: #e0e0e0;
      transition: 0.2s;

      &:hover {
        background: #2a2a2a;
      }
    }
  }
}

.winner-screen {
  background: rgb(48, 49, 49);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;
  text-align: center;

  .confetti {
    display: block;
    width: 100%;
    height: auto; // wichtig für IMG
    margin-bottom: 25px;
    position: relative; // verhindert, dass transform es rauswirft
    animation: sway 3s ease-in-out infinite;
  }

  @keyframes sway {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .winner-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;

    &.orange {
      color: #ff8c00;
    }

    &.blue {
      color: #007bff;
    }

    &.draw {
      color: #cccccc;
    }

    &.gameover {
      color: #00eaff;
    }
  }

  .winner-icon {
    width: 200px;
    height: 250px;
    margin-bottom: 30px;
  }

  .winner-buttons {
    margin-top: 20px;

    button {
      padding: 14px 28px;
      font-size: 20px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background: rgb(65, 86, 82);
      color: #e0e0e0;
      transition: 0.2s;

      &:hover {
        background: #2a2a2a;
      }
    }
  }
}
